
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            CustomerCode: <input id="txtCustomerCode" name="txtCustomerCode" type="text" />
            CustomerName: <input id="txtCustomerName" name="txtCustomerName" type="text" />
            <input id="btnSubmit" type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
